<html>
<head>
<style type="text/css">
  label {
      width: 10em;
      display: inline-block;
  }
</style>
</head>
<body>
<h1>MCollective via Dynflow</h1>

<form action="/trigger" method="post">
<p><label>Hostname:</label> <input type="input" name="hostname"/></p>
<p><label>Param: </label> <input type="input" name="param"/></p>
<button type="submit" name="action" value="install">Install</button>
<button type="submit" name="action" value="uninstall">Uninstall</button>
<button type="submit" name="action" value="restart">Restart</button>
<button type="submit" name="action" value="install_and_restart">Install and restart</button>
</form>
<% if @uuid %>
  Task scheduled: you can see <a href="/dynflow/<%= h(@uuid) %>">details here</a>
<% end %>
</body>
</html>
